@page "/"
@inject IStringLocalizer<Strings> Localizer;

<label>@Localizer["DownloadFromUrl"]</label>
@*<Select Value="@SelectedCulture" OnSelectedItemChanged="@SetCulture">
    <Options>
    @foreach (var kv in Cultures)
    {
    <SelectOption Text="@kv.Key" Value="@kv.Value" />
    }
    </Options>
    </Select>*@
<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var columnName in virtualizeTable.ColumnNames)
            {
                <th>@columnName</th>
            }
        </tr>
    </thead>
    <tbody>
        <Virtualize ItemsProvider="LoadForecasts" ItemSize="10">
            <tr>
                @foreach (var data in context)
                {
                    <td>
                        <div class="table-cell is-ellips is-resizable">
                            <div generateelement="false">
                                @data
                            </div>
                        </div>
                    </td>
                }
            </tr>
        </Virtualize>
    </tbody>
</table>