@page "/"
@inject IStringLocalizer<Strings> Localizer;

@*<label>@Localizer["DownloadFromUrl"]</label>*@
@*<Select Value="@SelectedCulture" OnSelectedItemChanged="@SetCulture">
    <Options>
    @foreach (var kv in Cultures)
    {
    <SelectOption Text="@kv.Key" Value="@kv.Value" />
    }
    </Options>
    </Select>*@
<div class="table-fix-head scroll">
    <table class="table log-table table-resizable">
        <thead>
            <tr>
                @foreach (var columnName in ColumnNames)
                {
                    <th>@columnName</th>
                }
            </tr>
        </thead>
        <tbody>
            <Virtualize ItemsProvider="LoadForecasts" ItemSize="10">

                <tr>
                    @foreach (var data in context)
                    {
                        <td>
                            @data
                        </td>
                    }
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>