@using VisualLogger.Pages
@inherits LayoutComponentBase

@*<Layout SideWidth="0" IsPage="true" ShowCollapseBar="true"
        IsFixedHeader="@IsFixedHeader"
        TabDefaultUrl="/"
        Menus="@Menus" AdditionalAssemblies="new[] { GetType().Assembly }" class="@Theme">
    <Header>
        <span class="ms-3 flex-fill">Bootstrap of Blazor</span>
        <div class="layout-drawer" @onclick="@(e => IsOpen = !IsOpen)"><i class="fa fa-gears"></i></div>
    </Header>
    <Side>
    </Side>
    <Main>
        @Body
    </Main>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>*@

<CascadingValue Value="this" IsFixed="true">
    <ErrorLogger>

        <section class="layout is-page">
            <header class="layout-header is-fixed">
                <a title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="TooltipTextxxxxxxxxx" class="layout-header-bar @(IsCollapsed?"is-collapsed":"")" @onclick="CollapseMenu">
                    <i class="fa fa-bars"></i>
                </a>
                <span class="ms-3 flex-fill">Bootstrap of Blazor</span>
                <div class="layout-drawer" @onclick="@(e => IsOpen = !IsOpen)"><i class="fa fa-gears"></i></div>

            </header>
            <section class="has-sidebar">
                <aside class="layout-side is-fixed-header @(IsCollapsed?"is-collapsed":"")">
                @*    <div class="layout-user">
                        <img class="layout-avatar" src="_content/BootstrapBlazorApp2.Shared/images/Argo-C.png">
                        <div class="layout-title">
                            <span>管理员</span>
                        </div>
                        <div class="flex-fill">
                            <i class="fa-solid fa-xmark"></i><!--!-->
                        </div>
                    </div>*@
                    <div class="layout-menu">
                        <Scroll>
                            @if (IsShowTree && !IsCollapsed)
                            {
                                <Tree Items="@Items" OnTreeItemClick="@OnTreeItemClick" />
                            }
                            else
                            {
                                <Menu Items="@Menus" IsVertical="true" IsCollapsed=@IsCollapsed OnClick="@ClickMenu()" />
                            }
                        </Scroll>
                    </div>
                </aside>
                <main class="layout-main @(IsCollapsed?"is-collapsed":"")">
                    @Body
                </main>
            </section>
        </section>
    </ErrorLogger>
</CascadingValue>